<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"></link>

<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<title>Faturamento</title>

<style>
.label {
	font-weight: bold;
}
</style>

</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container text-center">

		<h4 class='bg-primary' style="color: white">Faturamento</h4>

		<div class="container text-center">
			<h3>Veiculo faturado com sucesso!</h3>
			<br /> <span class="label">Placa: </span> <span
				th:text="${veiculo.placa}"></span> <br /> <span class="label">Valor: </span> <span
				th:text="${valor}"> </span> <br /> <span class="label">Data: </span> <span
				th:text="${data}"> </span>
		</div>

		<a href="/admin">Voltar</a>
	</div>

</body>
</html>