<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"></link>

<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<title>Funcionarios</title>
</head>
<body>
	<div th:replace="fragments/header :: header">		
	</div>
	<div class="container">
		<br />		
		<h1>Funcionarios</h1>

		<a href="/funcionario/showForm" class="btn btn-lg btn-primary"><span
			class="glyphicon glyphicon-plus"></span> + </a>

		<table class="table table-striped table-hover table-sm">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nome</th>
					<th scope="col">Telefone</th>
					<th scope="col">Acao</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="f : *{funcionarios}">
					<td th:text="${f.id}" />
					<td th:text="${f.nome}" />
					<td th:text="${f.telefone}" />
					<td>
						<div class="btn-group">
							<a class="btn btn-outline-primary"
								th:href="@{/funcionario/{id}(id = ${f.id})}">editar</a><br />
							<a class="btn btn-outline-danger"
								th:href="@{/funcionario/delete/{id}(id = ${f.id})}">apagar</a><br />
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>