<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"></link>

<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<title>Vagas</title>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<br />
		<h1>Vagas</h1>
		<br /> <a href="/vaga/showForm" class="btn btn-lg btn-primary"><span
			class="glyphicon glyphicon-plus"></span> +</a>
		<table class="table table-striped table-hover table-sm">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Setor</th>
					<th scope="col">Número</th>
					<th scope="col">Acao</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="v : *{vagas}">
					<td th:text="${v.id}" />
					<td th:text="${v.setor}" />
					<td th:text="${v.numero}" />
					<td>
						<div class="btn-group">
							<a class="btn btn-outline-primary"
								th:href="@{/vaga/{id}(id = ${v.id})}">editar</a><br /> <a
								class="btn btn-outline-danger"
								th:href="@{/vaga/delete/{id}(id = ${v.id})}">apagar</a><br />
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>