<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1.0">
<title>Easy Park - Administrador</title>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"></link>
<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<style type="text/css">
.busy {
	font-size: 20px;
	list-style-type: circle;
}

.busy li {
	float: left;
	margin: 1.5em;
	width: 100px;
	text-align: center;
	border: 1px dotted #ccc;
}

.container {
	border: 1px solid #ccc;
	padding-top: 1em;
}

.busyVaga {
	background-color: #ccc;
}
</style>
</head>

<body>

	<!--  importando barra de navegação -->
	<div th:replace="fragments/header :: header"></div>

	<div class="container"> Dashboard </div>
	
	<!-- Registrar Entrada -->
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Estacionamento</h3>
				<div>
					<ul class="busy">
						<li th:each="vb: *{vagas}" th:text="${vb.setor} + ${vb.numero}"
							th:classappend="${vb.ativo} ? freeVaga : busyVaga"></li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<!--  Formulário  -->
				<div class="row">
					<div class="col-md-12">
						<h2>Registrar Entrada</h2>
						<form class="form-horizontal" th:action="@{/registrarCheckIn}"
							method="post">
							<fieldset>
								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-4 control-label" for="textinput">Placa</label>
									<div class="col-md-6">
										<input id="placa" name="placa" type="text" placeholder=""
											class="form-control input-md" required="">

									</div>
								</div>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-4 control-label" for="textinput">Cor</label>
									<div class="col-md-6">
										<input id="cor" name="cor" type="text" placeholder=""
											class="form-control input-md" required="">

									</div>
								</div>

								<!-- Select Basic -->
								<div class="form-group">
									<label class="col-md-4 control-label" for="vagas">Vaga</label>
									<div class="col-md-6">
										<select id="vagas" name="idvaga" class="form-control">
											<option value="">--</option>
											<option th:each="v : *{vagasFree}" th:value="${v.id}"
												th:utext="${v.setor} + ${v.numero}"></option>
										</select>
									</div>
								</div>

								<!-- Button -->
								<div class="form-group">
									<label class="col-md-4 control-label" for="singlebutton"></label>
									<div class="col-md-4">
										<button id="singlebutton" name="singlebutton"
											class="btn btn-primary">Ocupar/Gerar Ticket</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="col-md-12">
						<h2>Registrar Saida</h2>
						<form class="form-horizontal" th:action="@{/registrarCheckOut}"
							method="post">
							<fieldset>
								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-4 control-label" for="placasaida">Placa</label>
									<div class="col-md-6">
										<input id="placasaida" name="placasaida" type="text"
											placeholder="" class="form-control input-md" required="">
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-4 control-label" for="valor">Valor</label>
									<div class="col-md-6">
										<input id="valor" name="valor" type="text" placeholder=""
											class="form-control input-md" required="">
									</div>
								</div>

								<!-- Button -->
								<div class="form-group">
									<label class="col-md-4 control-label"></label>
									<div class="col-md-4">
										<button class="btn btn-primary">Registrar</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>